.active_row{
    background: #01a9ac!important;
    color: #fff!important;
}

.active_row a, .active_row a:focus, .active_row a:hover {
    color: #fff;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    background-color: #fff;
    color: black;
    padding: 8px 30px 8px 20px;
    border-radius: 4px;
}

.breadcrumb-item.active {
    /*color: #fff;*/
}